body{
    background-color: lightgray;
}

h1{
    text-align: center;
    margin-bottom: 24px;
}

/* ------------------------------------------
                Card component
   ------------------------------------------*/

.card{
    max-width: 320px;
    border: 2px solid black;
    border-radius: 6px;
    overflow: hidden;
}
.thumbnail{
    width: 320px;
    height: 320px;
}